//
//.product-container{
//  max-width: 1400px;
//  margin: 0 auto;
//  display: flex;
//  flex-wrap:  wrap;
//  gap: 20px;
//}
//.card{
//  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
//  width: 335px;
//  height: 483px;
//img{
//  width: 336px;
//  height: 324px;
//  top: 73px;
//  left: -1px;
//
//}
//
//}
@import "../../sass/variables.scss";
.product-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 335px;
  height: 483px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 20px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 24px;
  }

  img {
    width: 336px;
    height: 324px;
    object-fit: cover;
    border-radius: 12px;
  }

  h3 {
    font-size: 1.2rem;
    margin-top: 12px;
    font-weight: 600;
    color: #2e2e2e;
  }

  p {
    margin-top: 4px;
    font-size: 1rem;
    color: #4e4e4e;
  }

  a {
    align-self: flex-start;
    margin-bottom: 8px;
    font-size: 0.9rem;
    text-decoration: none;
    color: #FFFFFF;
    background: $title-color;
    font-weight: 500;
    transition: color 0.3s;
    width: 96px;
    height: 31px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;


    &:hover {
      color: #3c8f65;
    }
  }
}
