.notfound-container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .content {
    background: rgba(255, 255, 255, 0.6); // թափանցիկ սպիտակ ֆոն
    padding: 30px;
    border-radius: 10px;

    .page-text {
      max-width: 350px;
      margin-bottom: 15px;
    }

    .description {
      font-size: 18px;
      color: #2f4f4f;
      margin-bottom: 20px;
    }

    .home-btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #3a5566;
      color: #fff;
      text-decoration: none;
      border-radius: 6px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #2d444f;
      }
    }
  }
}
